@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color: rgb(13, 106, 134);
    --primary-color-dark: rgb(8, 71, 90);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: cornsilk;
    padding: 30px;
    border-radius: 10px;
}

.center {
    text-align: center;
    margin-bottom: 40px;
}

.txt-style {
    font-size: 1em;
    padding: 5px;
    padding-right: 150px;
}

.btn-style {
    padding: 7px;
    font-weight: 520;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(34, 146, 180);
}

.btn-style:hover {
    border: 2px solid rgb(172, 172, 172);
    background-color: rgba(38, 177, 219, 0.767);
}

ul li {
    display: inline-flex;
    margin-bottom: 20px;
}

ul li button {
    margin-left: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    cursor: pointer;
}

ul li button:hover {
    background-color: rgb(255, 53, 53);
}

.apagar {
    background-color: white;
}